<h2 style="text-align: center;">{{currentRestaurant.name}}</h2>
<p style="text-align: center;">
<img src="https://maps.googleapis.com/maps/api/place/photo?key=AIzaSyDVQgKy2v09Yce_891pEigZOOpfgC6kra0&maxheight=200&photo_reference={{photo}}" height="200px" width="400px">
</p>
<p style="text-align: center;"><b>Rating :</b>{{currentRestaurant.rating}}</p>
<p style="text-align: center;"><b>Address:</b>{{currentRestaurant.formatted_address}}</p>
<p style="text-align: center;"><a [routerLink]="['/']" routerLinkActive="router-link-active" class="btn btn-primary"
    (click)="backtoSearchResults()">Back to Search</a></p>